.LeftBarItem {
    float: left;
    width: 100%;
    height: 50px;
    color: white;
    display: table;
    cursor: pointer;
}

.LeftBarItem p {
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
}

.LeftBarItem:hover {
    background-image: var(--color-fade);
}